telegram-gemeni-bot.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "workflowId": null,
      "uid": "1",
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": [
          {
            "value1": "={{ $json.message.text !== undefined }}",
            "value2": "=true"
          }
        ]
      },
      "name": "If Text Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "workflowId": null,
      "uid": "2",
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "YOUR_GEMINI_API_ENDPOINT",
        "options": {
          "authentication": "headers",
          "headers": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.message.text }}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "name": "Call Gemini (Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "workflowId": null,
      "uid": "3",
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "botToken",
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.data.candidates[0].content.parts[0].text }}",
        "botToken": "YOUR_TELEGRAM_BOT_TOKEN"
      },
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "workflowId": null,
      "uid": "4",
      "position": [
        900,
        200
      ]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "If Text Message",
            "type": "main"
          }
        ]
      ]
    },
    "If Text Message": {
      "main": [
        [
          {
            "node": "Call Gemini (Text)",
            "type": "main"
          }
        ]
      ]
    },
    "Call Gemini (Text)": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main"
          }
        ]
      ]
    }
  }
}
